@tailwind base;
@tailwind components;
@tailwind utilities;

.login-moving-background {
  height: 200%;
  width: 200%;
  background: linear-gradient(-45deg, #15a492, #88bc04, #23a6d5, #23d5ab);
  animation: move-background 10s infinite ease-in-out;
}

@keyframes move-background {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%);
  }
}
